@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
  overflow: hidden;
  
 
}
body{
user-select:none;
-webkit-user-select:none;
-ms-user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;
overflow: hidden;
  
}




@import url(src/item.css);
.gradient { 
	background:linear-gradient(#56C500, #fff); 
	height: 500px;
	border: 1px solid #333;
}
