@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
  overflow: hidden;
  
 
}
body{
user-select:none;
-webkit-user-select:none;
-ms-user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;
overflow: hidden;
  
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.black {
	background-color: black;
}

@import url(src/item.css);



.boxBG {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border: solid 3px black;
  background:black;
  padding: 0; 
}

.box {
  position: relative;
  height: 40%;
  width: 90%;
  border: solid 3px black;
  background:orange;
  left: 50%;
  bottom: 20%;
  padding: 20;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}

.up {
  position: absolute;
  left: 0%;
  top: 0%;
}

.down{
  position: relative;
  bottom: 0%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.left {
  position: absolute;
  bottom: 10%;
  left: 21%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  top: 24%;
  right: 3%;
   -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.resizeimage1 img { width: 55%; }
.resizeimage2 img { width: 20%; }
