@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
  overflow: hidden;
  
 
}
body{
user-select:none;
-webkit-user-select:none;
-ms-user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;
overflow: hidden;
  
}



@import url(src/item.css);

.example {
  margin: 10px auto;
  width:100px;
  height:100px
  background: orange;

}


.box {
  display: inline-block;
  background-color: #87a5f8;
  padding: 30px;
  margin: 10px;
}

.box5 {
  position: absolute;
  top: 38%;
  left: 32%;
}
